@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;500&display=swap');

body {
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
    background-image: url("img/neon-light.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 60px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
    font-weight: 400;
    font-size: 40px;
}

#listaGames img {
    margin: 10px;
    max-height: 250px;
}

.form-wrapper {
    margin: 0 0 15px;
    
}

.form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 10px;
    font-family:'Gemunu Libre', sans-serif;

   

}

.form-wrapper button {
    border: 0;
    color: #ffffff;
    background: rgb(30, 39, 218);
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Gemunu Libre', sans-serif;
}

.form-wrapper button:hover {
    opacity: 0.8;
}